.property-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.property-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.property-item-info {
    padding: 20px;
}

.property-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.property-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.property-item-name-rating img {
    width: 70px;
}

.property-item-desc {
    color: #676767;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.property-item-desc i {
    color: #008500;
}

.property-item-loc {
    color: #008500;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}
.property-item-loc i {
    color: #008500;
}

.property-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.property-item-img-container {
    position: relative;
}

.property-item-img-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
}

.property-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.property-item-counter img {
    width: 30px;
}
